# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Flask / local instance files
instance/
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env
.env.*

# IDE / OS
.idea/
.DS_Store

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/